<div class="csand csand-list-item">
    <div class="csand-cover">
        <img src="https://placehold.co/1280x720.png" alt="Temporario">
    </div>
    <div class="csand-title-container">
        <h2 class="csand-title">Lorem ipsum dolor sit amet.</h2>
    </div>

    <div class="csand-author">
        <span class="csand-author-item">
            <i class="fa fa-user"></i>
            Renato Douglas
        </span>

        <span class="csand-author-item">
            <i class="fas fa-calendar-alt"></i>
            07/12/2023 às 12:00
        </span>

        <span class="csand-author-item">
            <a href="#">
                <i class="fas fa-layer-group"></i>
                <span>Lorem ipsum dolor sit.</span>
            </a>
        </span>
    </div>

    <div class="csand-content">
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ratione veniam, iure provident eos praesentium pariatur beatae inventore ex labore dignissimos quidem recusandae mollitia eaque eveniet, excepturi libero!</p>
    </div>

    <div class="csand-meta-container">
        <div class="csand-meta csand-preparation">
            <h3 class="csand-meta-title"><i class="fas fa-stopwatch"></i> Preparo</h3>
            <div class="csand-meta-text">
                0 Minutes
            </div>
        </div>
    
        <div class="csand-meta csand-servings">
            <h3 class="csand-meta-title"><i class="fas fa-pizza-slice"></i> Porções</h3>
            <div class="csand-meta-text">
                0 Porções
            </div>
        </div>          
    </div>
    <footer class="csand-footer">
        <a href="#" class="csand-read-more button-dark button-full-width">
            <i class="fas fa-eye" aria-hidden="true"></i>
            <span>ver mais...</span>
        </a>
    </footer>

</div>  