{% include "diagnostics/partial/head.html" %}

<body>
  {% include "diagnostics/partial/header.html" %}
  {% include "diagnostics/partial/search.html" %}

  <main class="main-content-container">

    <div class="main-content main-content-list container">
        <div class="csand csand-list-item">
            <div class="csand-cover">
                <img src="../templates/diagnostics/partial/diag_enf.png" alt="Temporario">
            </div>
            <h1>Renato, estou aqui</h1>
        </div>        
    </div>
  </main>



</body>

</html>
   
   
   
  
